.footer {
    background: #222;
    padding: 5px;
    color: #ccc;
}

.footer h2 {
    font-size: 1.5rem;
}

.footer ul {
    display: flex;
    list-style: none;
}

.footer ul li {
    padding: 8px;
}


.footer ul img {
    width: 30px;
}

@media(min-width: 800px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
