.slider{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-slider {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
}

.info-slider h1 {
    letter-spacing: 1px;
}

.info-slider a {
    width: 150px;
    height: 30px; 
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid purple;
    color: purple;
}

.info-slider a:hover {
    background: purple;
    color: #ccc;
}

.img-projetos {
    width: 20rem;
    padding: 30px 10px;
}

.info-slider p {
    font-size: 1rem;
    padding: 20px 0;
}

.container-btn {
    padding: 40px 0;
}

.btn {
    cursor: pointer;
    border: none;
    background: transparent;

}

.setas {
    width: 30px;
    margin: 0 20px;
}

@media (min-width: 700px) {
    .img-projetos {
        width: 30rem;
    }
}


@media (min-width: 800px) {
    .img-projetos {
        width: 50rem;
    }

    .slider {
        display: flex;
        align-items: center;
        justify-content: center;
    }


}